.vscode/**
.vscode-test/**
src/**
**/test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintrc.js
**/*.map
**/*.ts
**/*.test.ts
**/*.env
**/.env
**/*.tsbuildinfo
**/*.eslintcache
**/*.eslintignore
coverage/**
.yarn/**
.vitest/**
vite.config.js
README_TEMPLATE.md